<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GasolinWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GasolinWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Navigations baren-->
        <nav class="navbar navbar-expand-lg bg-black .text-white">
            <div class="container-fluid">
                <!-- 1. element i navbaren: icon-->

                <a class="navbar-brand" href="/Index">Ico</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- her kan et icon indsættes-->
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <!-- navbar elemente 1 home-->
                        <li class="nav-item text-body">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <!-- navbar element 2 -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <!-- navvbar element 3-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/GasolinBiography">Band Biography</a>
                        </li>
                        <!-- navbar element 4-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Udstilling
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Elementerne i dropdown menu-->
                                <li><a class="dropdown-item" href="#">Memrobilia</a></li>
                                <li><a class="dropdown-item" href="#">TimeLine</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                        <!-- navbar element 5 -->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/GasolinTimeLine">Gasolin Timeline</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Remove the container if you want to extend the Footer to full width. -->
    
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white"
                style="background-color: #45526e">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Kom og mød os:</h6>
                        <p><i class="fas fa-home mr-3"></i> Rabalderstræde 16, 4000 Roskilde</p>
                        <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                      
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Åbningstider</h6>
                            <p>
                                <a class="text-white">man</a>
                            </p>
                            <p>
                                <a class="text-white"></a>
                            </p>
                            <p>
                                <a class="text-white"></a>
                            </p>
                            <p>
                                <a class="text-white"></a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                Useful links:
                            </h6>
                            <p>
                                <a class="text-white"></a>
                            </p>
                            <p>
                                <a class="text-white"></a>
                            </p>
                            <p>
                                <a class="text-white">Shipping Rates</a>
                            </p>
                            <p>
                                <a class="text-white">Help</a>
                            </p>
                        </div>

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                           
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="my-3">

                <!-- Section: Copyright -->
                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <!-- Grid column -->
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <!-- Copyright -->
                            <div class="p-3">
                                © 2020 Copyright:
                                <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                            </div>
                            <!-- Copyright -->
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1"
                               class="text-white"
                               role="button">
                                <i class="fi fi-brands-facebook"></i>
                            </a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating m-1"
                               class="text-white"
                               role="button">
                                <i class="fi fi-brands-facebook"><img src="~/Images/facebook.png" alt="Alternate Text"/></i>
                            </a>

                            <!-- Google -->
                            <a class="btn btn-outline-light btn-floating m-1"
                               class="text-white"
                               role="button">
                                <i class="fab fa-google"></i>
                            </a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1"
                               class="text-white"
                               role="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        <!-- Grid column -->
                    </div>
                </section>
                <!-- Section: Copyright -->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
    
    <!-- End of .container -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>