@page
@model IndexModel
@{
    ViewData["Title"] = "Home"; 
}
<link rel="stylesheet" href="/css/style.css">

<!-- Sektion for hero -->
<div class="hero">
    <h1>Legendarisk Gasolin udstilling</h1>
</div>
<!-- Sektion for "description box" -->
<div class="description-box">
    <h2>Om Udstillingen</h2>
    <p>
        Oplev en unik udstilling om Gasolin, et af Danmarks mest legendariske rockbands.
        Her kan du dykke ned i bandets historie, læse bandmedlemmernes biografier,
        scroll igennem bandets historie og se specielle genstande og memorabelier.
    </p>
    <p class="begivenhed-info">
        <strong>DATO:</strong> 18-03-2025 <br> <!-- <br> er breakpoint dvs. ny linje-->
        <strong>LOKATION:</strong> Roskilde Festival <br>
        <strong>ÅBNINGSTIDER:</strong> 12:00 - 17:00 <br>
        <strong>PRIS:</strong> GRATIS!
    </p>
</div>
<!-- Section for Info Boxes Header -->
<div class="info-section">
    <h3 class="info-header">Læs mere om Gasolin</h3>
    <p class="info-text">Her kan du læse mere om Gasolin og deres historie.</p>
</div>

<!-- Sektion for "info-boxes" -->
<div class="info-container">
    <a href="/GasolinBiography" class="info-box">
        <img src="/images/biografi.png">
        <p>Læs biografier om hvert bandmedlem.</p>
    </a>
    <a href="/GasolinTimeLine" class="info-box">
        <img src="/images/Timeline.png">
        <p>Se en timeline over bandets historie.</p>
    </a>
    <a href="/GasolinArchive" class="info-box">
        <img src="/images/Interview.png">
        <p>Hør og se interviews med bandet.</p>
    </a>
    <a href="/memorabilia" class="info-box">
        <img src="/images/memorabilia.png">
        <p>Se forskellige band memorabilia.</p>
    </a>
</div>

<!-- Song Player Section -->
<div class="audio-container">
    <p class="audio-label">Det Bedste Til Mig Og Mine Venner</p>
    <audio controls>
        <source src="@Model.SongPath" type="audio/mpeg">
        Din browser understøtter ikke lyd elementet.
    </audio>
</div>

